[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Crystal Clear - Wikimedia Commons
Type=Link
URL=http://commons.wikimedia.org/wiki/Crystal_Clear
Icon=gnome-fs-bookmark
